# ---------------
# Folders
# ---------------

.idea
build
target
/system
/resources
lib
oldLib
apidocs
logs
properties

# ---------------
# Project Files
# ---------------

*.iml

# ---------------
# Other
# ---------------

*.settings
*.project
*.classpath
