<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="fileAppenderIzou" fileName="logs/org.intellimate.izou.log" append="true">
            <PatternLayout pattern="%d %-5p [%t] %C{10} (%F:%L) - %m%n"/>
        </File>
            <File name="fileAppenderGeneral" fileName="logs/general.log" append="true">
            <PatternLayout pattern="%d %-5p [%t] %C{10} (%F:%L) - %m%n"/>
        </File>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{10} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.intellimate.izou" level="debug">
            <AppenderRef ref="fileAppenderIzou"/>

            <!--Commenting this out fixes double loggind - not sure if it is a valid soltution -->
            <!--<AppenderRef ref="CONSOLE"/>-->
        </Logger>
        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="fileAppenderGeneral"/>

            <!--Commenting this out fixes double loggind - not sure if it is a valid soltution -->
            <!--<AppenderRef ref="fileAppender"/>-->
        </Root>
    </Loggers>
</Configuration>